{% if product.available %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}

  {% if settings.show_add_to_cart_button %}
    <collection-product-form>
      {%- form 'product', product -%}
        <div class="product-form__buttons">
          <button
            type="submit"
            name="add"
            class="button button--full-width"
          >Add to cart
          </button>
        </div>
        <select name="id" class="section-variant">
          {% for variant in product.variants %}
            <option 
              {% if variant == current_variant %}selected="selected"{% endif %}
              value="{{variant.id}}" 
              data-price="{{variant.price | money}}" 
              data-url="{{product.url}}?variant={{variant.id}}" 
              data-available-quantity="{{variant.inventory_quantity}}"
              data-variant-title="{{variant.title}}"
              data-product-title="{{product.title}}"
            >
              {{variant.title}} 
            </option>
          {% endfor %}
        </select>
        {% render 'form-error' %}
      {%- endform -%}
    </collection-product-form>
  {% else %}

    {% if settings.show_buy_now_button %}
      <buy-now-form>
        {%- form 'product', product -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <div class="product-form__buttons">
            <button
              type="submit"
              name="add"
              class="button button--full-width"
            >Buy now
            </button>
          </div>
        {%- endform -%}
      </buy-now-form>
    {% endif %}

  {% endif %}

{% endif %}

{{ 'product-form.scss.css' | asset_url | stylesheet_tag }}